/*
All
====================================
All of the styling additions and changes for the plugin
*/
\Resources\views\frontend\_public\src\less\plugin.less
.
{
  color: @text-color;
  font-weight: bold;
}

.results--list .entry--name
{
  width: 50%;
}

.results--list .entry--price
{
  width: 40%;
}